*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html,body{
    height: 100%;
    width: 100%;
    background-color: #fff;
}

#nav-logo{
    width: 200px;
}

#nav-searchbar{
    display :flex;
    margin-right: 0;
    gap: none;
    width: 60vw;


}
#search-btn
{
    border: none;
    border-radius: 5px;
    padding: 14px;
    background-color: #fcaf01;
}

#searh-bar{
    padding: 15px;
}
#nav-1{
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

#nav-2{
    display: flex;
    background-color: #129d80;
    justify-content: center;
    align-items:center ;
     justify-content:space-evenly ;
     padding: 15px;
     height: 8vh;
}


#nav-cart{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5vw;
}
#nav-cart h5 , #nav-login h5{
    font-weight: 400;
    font-size: 18px;
}
#nav-cart i{
    color: #fcaf01;
    padding-bottom: 8px;

}
#cart-login-div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
}
#nav2-button{
    background-color: #fcaf01;
     padding-left: 15px;
     padding-right: 15px ;
     padding-top: 8px ;
     padding-bottom: 8px;
    border-radius: 5px;
    border: none;
    color: azure;
    font-weight: 600;
}
#nav2-h1{
    color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
}
#nav2-h1 h1{
    font-size: 15px;
}

#nav2-h1 h1:hover{
color: #fcaf01;
cursor: pointer;
transition: 0.5s ease;
}

#nav2-button:hover{
background-color: #f5b92e;
}

/* #carouselExampleAutoplaying{
    width: 100%;
    
} */

/* #carousalheigt{
    width: 90vw;
} */

#mobile-wranty-section{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    margin: 5px 30px;
    padding: 8px 0px;
    border-radius: 10px;

    width: calc(100% - 100px);

}
/* 
#mobile-wranty-section div h5{
justify-content: center;
align-items: center;
text-align: center;
} */
#mobile-wranty-section:hover{
    box-shadow: 0.4px 0px 10px rgb(175, 173, 173) ;
    transition: box-shadow 0.7s ease;

    /* transition: 0.3 ease; */
}

.mwh{
    font-size: 15px;
    text-align: center;
}

#cards-sec h1{

text-align: center;
font-weight: 700;
}

#cbtn{
    background-color:#129d80 ;
    border: none;
}
#cbtn:hover{
    background-color: #f5b92e;
    color: #040505;


}
#gtc{
    display: flex;
    justify-content: center;
}

#gtc button{
    
    background-color: #129d80;
    border: none;
    padding: 10px 25px;
    font-weight: 600;
}
#gtc button:hover{
    background-color: #f5b92e;
    transform: scale(1.1);
    color: #040505;


}
#sellsec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f4f6f5;
    border-top: 2px solid #d1cccc ;
    border-bottom: 2px solid #d1cccc ;
    padding-bottom: 30px;

}

#sellsec h1{
    font-weight: 700;
    font-size: 30px;
}
#sellsec p{
    font-weight: 400;
    font-size: 15px;
}

#sellsec button{
    background-color: #f0a007;
    border: none;
    padding: 15px 60px;
    font-weight: 600;
    font-size: 20px;

}

#wimei{
 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#wimei h1{

    font-weight: 700;
    font-size: 30px;

}   
#wimei p{
    font-weight: 400;
    font-size: 15px;
    text-align: center;

}
#wimei button{
 
    background-color: #f0a007;
    border: none;
    padding: 15px 60px;
    font-weight: 600;
    font-size: 20px;
}
#wimei button:hover{
    background-color: #f1ac2c;
}

#sellsec button:hover{
    background-color: #f1ac2c;


}


#pop-brands{
    background-color: #f4f6f5;
    border-top: 2px solid #d1cccc ;
    border-bottom: 2px solid #d1cccc ;
    padding-bottom: 40px;
}

#pop-brands h1{
    text-align: center;
    font-weight: 700;
    font-size: 35px;

}
#brands{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;

}
#onlmark h1{
    text-align: center;
    font-weight: 600;

}

#onlmark-div{
    display: flex;
    justify-content: center;
    align-content: center;
    justify-content: space-evenly;
}

#onlmark-div div{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 70px;
    box-shadow: 1px 1px 10px rgb(150, 149, 149);
}


#onlmark-div-head{
    margin: 2px;
    display: flex;
    justify-content: center;
    align-content: center;
    justify-content: space-evenly;
}

#onlmark-div-head div{
    text-align: center;
}
#onlmark-div-head div h2{
    color: #129d80;
    font-size: 25px;

}
#onlmark-div-head div p{
    font-weight: 450;
}

footer{

    margin-top: 60px;
    padding: 60px;
    background-color: #1a1c1d;
}

#f-div{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    justify-content: space-around;
}

#f-div div p{
    text-align: left;
    font-weight: 400;
    /* font-size: 20px; */
    color: #ffffff85

    
}
#f-div div h1{
    text-align: left;
    font-weight: 600;
    font-size: 20px;
    color: #fff

}

#cp{
    background-color: #040505;
    width: 100%;
    height: 45px;


}
#cp h2{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    font-weight: 400;
    font-size: 15px;
    text-transform: capitalize;
}



                   /* carts started */





#cart-h1{
    padding: 5vh 0;
}


#cart-h1 h1{
    /* margin: 5vh 0; */

    font-size: 1vw;
    font-weight: 400;
    text-align: left;

}

#cart-pdiv{
    /* display: flex; */
    /* align-items: flex-end; */
    /* transform: scale(-50%, -50%); */
    /* height: 100vh; */

    background-color: #f4f6f5;
    box-shadow: 1px 0px 10px rgb(90, 89, 89);
    width: 100%;
    overflow: hidden;
    margin-bottom: 5vh;
}




/* #cartdh{

    display: flex;
    align-items:center ;
    justify-content: space-between;
    gap: 5vw;
    background-color: #e0d9d9;
    border-bottom: 5px solid #e0d9d900 ;
    
    width: 100%;
    height: 10vh;
    padding: 0px 20px;
    
}
#cartdh #product{
    width: 10vw;
} */

/* #cartdh div{

    font-weight: 700;
    text-align:left;
    color: #129d80;
} */






#cart-cdiv{

    margin: 5vh 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: #f1ac2c; */
    gap: 5vw;
    padding: 0px 20px;
}

#cart-cdiv h2{
    color: #129d80;

    font-weight: 500;
    font-size: 1.7vw;
}

#total-amount{
    display: flex;
    justify-content: end;
}
#total-amount h1{
    font-size: 2.3vw;
    font-weight: 700;
}

#cart-emt{
    background-color: rgb(212, 54, 54);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3vw;
    padding: 4vw;
    border-radius: 10px;
    box-shadow: 1px 0px 10px rgb(90, 89, 89);
    
}

#cart-emt h1{
    color: #252525;
    font-weight: 400;
    font-size: 3vw;
    text-transform: capitalize;
}

#cart-home:hover{
    font-weight: 700;
}